.isTrue {
    background-color: greenyellow;
}
.isFalse {
    background-color: red;
}
html, body {
 min-width: 100%;
 height: 100%;
 margin: 0;
}
header {
 display: flex;
 width: 100%;
 min-height: 10%;
 background-color: whitesmoke;
 border-bottom: 2px solid black;
}
header>h1 {
 margin-left: 1em;
 flex: 3;
}
nav {
 flex: 2;
 display: flex;
 justify-content: flex-end;
}
nav>a{
 text-decoration: none;
 height: 2em;
 width: 5em;
 background-color: #DDD;
 color: black;
 margin-right: 1em;
 margin-top: auto;
 margin-bottom: auto;
 padding: 1.5em;
 text-align: center;
 border-radius: 30%;
}
nav>a:hover{
 background-color: #AAA;
}
body>header:last-of-type{
    padding: 0.5em;
    display: flex;
}
header>h3 {
    flex: 1;
}
#batteriesChoise {
    flex: 1;
    display: flex;
    flex-direction: column;
}
#batteriesChoise>label {
    padding: 0.5em;
}
#booleanProperties {
    flex: 7;
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
}
#booleanProperties>input {
    display: none;
}
#booleanProperties>label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin-left: 0.2em;
    flex: 1;
    text-align: center;
}

main{ 
 padding: 0em 1em;
 display: flex;
 height: 80%;
}

#moduleList {
 display: flex;
 flex-direction: column;
 height: 100%;
 min-height: 100%;
 justify-content: center;
 flex: 1;
}
.module {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
 height: 3em;
 width: 10em;
 border-radius: 30%;
 display: flex;
 justify-content: center;
 cursor: auto hand;
 border: none;
}
.module:hover {
 background-color: red;
}
#solvingSection{
 margin: 5em;
 flex: 7;
 background-color: #CCC;
}
#solvingSection>section{
 margin: 3px;
 width: 100%;
}
#solvingSection>input {
 font-size: 150%;
 border: none;
 background: cornflowerblue;
 width: 8em;
 height: 2em;
 text-align: center;
 padding: 0.3em;
 cursor:pointer hand;
}
#solvingSection>input:hover {
 background-color: red;
}
#solvingSection>section>p{
 font-size: 200%;
 padding: 0;
 margin: 0;
}
#solvingSection>section>input{
 margin: 3px;
 min-height: 3em;
 flex: 1;
 background-color: cornflowerblue;
 border: none;
 font-size: 1.2vw;
 text-align: center;
 cursor: hand;
}
#solvingSection>section>input:hover{
 background-color: #AAA;
}
.disabledInput:hover {
 background-color: #BBB !important;
}
.focused {
 border: 3px solid black !important;
 background-color: #AAA;
}
#explanation {
 font-size: 180%;
 text-align: center;
}



